<html>
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <script defer src="/script/component/carousel.js"></script>
  </head>
  <body>
    <header class="flex flex-row flex-nowrap w-full p-2 space-x-2 bg-gray-200">
      <a href="/" aria-current="page" class="h-12">
        {{ comp.icons.soma({className: "h-12"}) }}
      </a>
      <div class="flex flex-col flex-nowrap align-middle justify-center text-center">
        <div class="text-xs">SOMA EASTSIDE</div>
        <div class="text-2xl">CHURCH</div>
      </div>
    </header>
    <article class="prose p-2 container mx-auto">
    {{ content }}
    </article>
  </body>
</html>