<html>
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  </head>
  <body>
    {{ comp.templates["web-carousel"]() }}
    <header class="flex flex-row flex-nowrap items-center w-full p-2 space-x-2 bg-gray-200 overflow-hidden h-9">
      <nav>
        <svg class="h-full w-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
      </nav>
      <a href="/" aria-current="page">
        {{ comp.icons.soma({className: "h-full w-5"}) }}
      </a>
      <div class="text-xs whitespace-nowrap overflow-x-auto">SOMA EASTSIDE CHURCH</div>
    </header>
    <article class="prose p-2 container mx-auto">
    {{ content }}
    </article>
  </body>
</html>